h1 {
	font-family: "Georgia";
	color: MidnightBlue;
	background-color: white;
	text-align: center;
	height: 100%;
/*	max-width: 300px; */
/*	overflow: scroll; */
	border: 3px solid rgb(22, 77, 100);
	border-radius: 10px;
	padding:1px 30px 1px 30px;
	width: 30%;
	margin: 0 auto;
}

.overview {
	border: 3px solid rgb(22, 77, 100);
	margin: 0 auto;
	padding-left: 10px;
	width: 60%;
	float: left;
	display: inline-block;
/*	display:inline-block; */
/*	float: left; */
	margin-left: 50px;

}


.list_test {
/*	margin: 0 auto;*/
	padding-left: 50px;
	width: 50%;
	float: left;
/*	display: inline-block;
*/
}


.headcontent {
	margin: 0 auto;
	padding-left: 0;
	width: 100%;
	float: auto;
	display: inline-block; 

}

.time {

	border: 2px solid #fff; 
	margin: 0;
/*	box-sizing: content-box;*/
	width: 50%;
/*	text-decoration:underline;*/	
}


.temp {

	margin: 0;
	width: 50%;
}

#divTest {
	text-transfer: Uppercase;
}

body {
	font-family: "Helvetica";
	background-color: cyan;


}

img {
/*	display: relative; */
	border-radius: 100%;
	border: 7px solid #FFF;
/*	text-align: center; */
	float: left; 
	width: 15%;
	
}

p {
	font-family: "Helvetica";
	width: 100%;
	position: relative;
}


th, td, tr {

	border: 1px solid black;
	background: #88CCF1;
}

/*
*{
border:1px solid rgba(0,0,0,0.3);
}
*/
